.image{
    background-image: url("./image/background.png");
    height: 700px;
    background-size: cover;
    background-position: center;
   
}
a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
}
.h3{
    color: white;
}
ul>li{
    list-style: none;
    
}
.child{
    display: flex;
    gap: 20px;
}
.contant{
    display: flex;
    justify-content: space-evenly;
}

.btn1{
    border: none;
    background-color: #007be5;
    padding: 2vw;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
   
}
/* hero-section */
.mid-container{
    text-align: center;
    margin-top: 200px;
}

.btn-4{

    border-radius:20px;
    border:1px solid white;
    background: transparent;
    color: white;
    padding: 1vw;
}
.btn-5{

    border-radius: 20px;
    padding: 1vw;
    border:none;
     background-color: #007be5;
    color: white;
}

.what{
    font-family: poppins;
    font-size: 4vw;
     color: white;
}


/* peace-of-mind */

.peace-of-mind{
    display: flex;
    justify-content:center;
    gap:4vw;
    margin-bottom:6vw;

}
.given{
    margin-top: 6vw; 
    padding: 2vw;
    width: 200px;
}
.given-1{
    margin-top: 6vw;
    padding: 2vw;
    width: 200px;
}
.given-2{
    margin-top: 6vw; 
    padding: 2vw; width: 200px;
}



.for-image{
    margin-top: 10px;
    width: 100px;
    height: 100px;
  
}  

.div-1{

    padding: 2vw;
    color: black;
    background-color: white;
    width: 200px;
    position: relative;
    margin-top:40px;

}
.div-2{
   
    color: black;
    background-color: white;
    padding: 2vw;
    width: 200px;
    position: relative;
    margin-top: 40px;
      
}
.div-3{ 
    color:white;
    background-color: #007be5;
    padding: 2vw;
    width: 200px;
    position: relative;
    margin-top: 40px;
 
  }
  /* set-for-life */
.main-container{
   
   display: flex;
   justify-content:center;
   margin-top: 150px;
   gap: 100px;
   text-align: center;
}
.top{
    margin-top: 20px;
    text-align: center;
    padding: 30px;


}
.name{
    background-color: #f1f1f1;
  margin-top: 100px;
}
.all-image{
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   gap: 30px;
   padding-bottom: 50px
;

}
.image-1{
    box-sizing: border-box;
    height: 320px;
    width: 250px;
    background-color:white;
    text-align: center;
    padding: 20px;
 
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
 
   

}
.image-2{
    box-sizing: border-box;
    height: 320px;
    width:250px;
    background-color:white;
    text-align: center;
    padding: 20px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-3{
    box-sizing: border-box;
    height: 320px;
    width: 250px;
    background-color: white; 
    text-align: center;
    padding: 20px;
;
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer{
    background-image: url("./image-1/background.png");
    height: 550px;
    color: white;
    background-size: cover;
 
  
}


.png{
    display: flex;
   justify-content: center;
   gap: 20px;
   align-items: center;
 
   margin-top: 30px;
 
}
.type{
    display: flex;
   justify-content: space-evenly;  
    align-items: center;
   margin-left:10vw ;
   margin-right:10vw ;
   margin-top: 2vw;
    background-color: #007be5;
    background: linear-gradient(to right,#3c3989,#bd1a89);
    border-radius: .5vw;
  
}
.test{
    font-size:2vw;margin-right: 20px;

}
.label{
    position: relative;
    margin-left: -20px;
}
input[type="text"]{
    border: none;
   padding: 1vw 3vw;
  
   
}
.btn-6{
    position: absolute;
    background-color: #007be5;
    padding:.75vw .5vw;
    letter-spacing: 2px;
    font-size:1.4vw;
    border: none;
    cursor: pointer;
    
        
}
.btn-6:hover{
    transition: .9s;
    background-color: green;
}
.world{
    padding: 20px;
    margin-left: 70px;
}
.alt{
    margin-top: 100px;
}

.creat{    
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 20px;
    margin-bottom: 50px;
}
.resolve{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "poppins";
}

.element span{
    font-size: 18px;
}
.row-1{
    box-sizing: border-box;
    border: 1px solid #007be5;
    border-radius: 10px;
    padding: 10px;
    height: 590px;
}
.row-2{
    box-sizing: border-box;
    border: 1px solid #007be5;
    border-radius: 10px;
    padding: 10px;
    background-color:  #252b42;
    height: 50px 0 0 0;
    color: white;
    height: 620px;
    margin-top: -30px;
}
.row-3{
    box-sizing: border-box;
    border: 1px solid #007be5;
    border-radius: 10px;
    padding: 10px;
    height: 590px;
   
   
}
.btn-7{
    position: absolute;
    background-color: #007be5;
    padding:10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    height:35px;
    border-radius: 15px;
    text-align: center;
    margin-left: 90px;
    margin-top: 50px;
    width: 130px;
}
.btn-7:hover{
    transition: .9s;
    background-color:#f1f1f1;
}

/* footer-section */

.root{
    display: flex;  
   justify-content: center;
   position:relative;
   font-family: poppins;
}
.for{
    display: flex;
    justify-content: space-evenly;
  
}
.form{
    box-sizing: border-box;
   height: 608px;
    width: 530px;
    margin-top: -190px;
    padding:25px;
   
    padding-bottom:2vw;
    background-color: white;

}
.input{
  
    height: 25px;
    width:93% ;
    padding: 10px;
    font-size:13px;
    border-radius: 3px;
    border: none;
    background-color: #f1f1f1;
    gap: -10px;
    margin-top: -10;
}
.input-name{
    height: 25px;
    width:80% ;
    padding: 10px;
    font-size:13px;
    border-radius: 3px;
    border: none;
    background-color: #f1f1f1;
    gap: -10px;
    margin-top: -10;
}

.please{
   
    height: 40px;
    width: 98%;
    padding: 10px;
    font-size:13px;
    border-radius: 3px;
    border: none;
    background-color: #f1f1f1;
    
}

.input:hover{
    outline: none;
}
.book{
    background-color: #007be5;
    color: white;
    height: 35px;
    width: 95%;
    border: none;
    font-size: 18px;
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.book:hover{
    background-color:#f1f1f1;
    outline: none;
    color: #007be5;
}
.fox{
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
   
}
.btn-2{
    border: none;
    background-color: #007be5;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;

}
.btn-2:hover{
    background-color:aqua;
    color: black;

}
.color{
    margin-top: -190px;
}
.company{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-family: poppins;
}
.with{
     background-color: #f1f1f1 ;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 20px;
    
}

@media screen and (max-width:576px){
    
    
    
    
    
    .contant{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-bottom: 100px;
        background-color:white;
        width: 100%;
        
    }
    .child{
        display:flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
    }
    a{ font-size: 2.5vw;
        color: black;

    }
    .h3{
        font-size: 4vw;
        color: black;
    }
    .peace-of-mind{
        display:block;
        margin-left: 30px;
        margin-top:- 100px;
        gap: 20px;
        overflow: hidden;
    }
    .mid-container{
        text-align: center;
        font-size: 17px;
        margin-top: 30px;
    }
    .main-container{
        display:flex;
        flex-direction: column;
        margin-top:450px;
      
       
    }
    .given-1{
       margin-top: -50px;
    }
    .given-2{
        margin-top: -50px;
    }
    .all-image{
        display: flex;
        flex-direction: column;
    }
    .creat{
        display: flex;
        flex-direction: column;
        gap:34px
    }
    .row-3{
        margin-top:-24px;
    }
    .root{
        display: flex;
        flex-direction: column;
        position:relative;
       
        overflow: hidden;
        width: 100%;
    }

    .png{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        overflow: hidden;
    }
    .for{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-right: 20px;
    }
    .type{
        display: flex;
       flex-direction: column;
       align-items: center;
       height:25vh;
      
     
    }
    .test{
        font-size:5vw;

    }
    .btn-6{
        font-size:3vw;
    }
    .label{
        margin-bottom: 3vw;
    }
    .company{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .color{
        width: 400px;
        margin-top: 20px;
        position: center;
    }
    .form{
        margin-bottom: 20px;
        padding: 20px;
    }
    .fox{
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
       
    }
    .footer{
        padding: 10px;
        overflow: hidden;
    }
    .btn{
        width: 200px;
        display: flex;
        align-items: center;
    }
    .with{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .btn-2{
        width: 20vw;
       margin-left: 200px;
       margin-bottom: 30px;
    }
   
   
}
